@charset "UTF-8";
.jumbotron{
	background-color: #5C733F;
}
.display-4{
	font-family: 'Staatliches', cursive;
}
.lead, .card-text{
	font-family: 'Source Serif Pro', serif;
}
.card-title{
	font-family: 'Staatliches', cursive;
}

.section-title{
	font-family: 'Staatliches', cursive;
}
.navbar, .footer-basic{
	font-family: 'Prompt', sans-serif;
}
.footer-basic{
	text-align: center
}
.full-page-background{
	background-color:#98AB82;
}
.btn{
	background-color: #C7292C;
	border: #C7282C
}
.btn-secondary{
	font-family: 'Prompt', sans-serif;
}
